.jumbotron {
    background-image: url('./blur-books-ceramic-176103.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 360px;
    color: wheat;
    text-shadow: 2px 2px black;
}

.lead {
    font-size: 2.5em;
}